body{
  background-image: url("time-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  background-color: #110905;
}
h1{
  color: #352b2b;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  /* margin-left: 180px; */
 }
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 20px; */
}
.App{
  /* background-color: #e6dbd1; */
  background:  rgb(226, 221, 196, 0.9);
  width: 50%;
  margin-left: 60px;
  margin-top: 40px;
  border-radius: 40px;
}
.imageTwo{
  border-radius: 50px;
  border: 1px solid #806242;
  margin-bottom: 20px;
}
.Header{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.Input{
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  color: #352b2b;
  font-family: 'Roboto', sans-serif;
}
.btn{
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  font-size: 20px;
  background-color: aliceblue;
  font-family: 'Roboto', sans-serif;
}
.Add{
  color: #817d00;
  border: 1px solid #817d00;
}
.Delete{
  border: 1px solid #d64013;
  color: #d64013;
}
.crossed {
  text-decoration: line-through 2px red;
  /* background-color: #f0f0f0; */
}
ul, li{
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@media all and (max-width: 800px) {
  h1{
    font-size: 30px;
  }
  .Input{
    width: 150px;
  }
}
